[Desktop Entry]
Name = Browse
Comment = Surf the world!
Name[af] = Browse
Comment[af] = Surf the world!
Name[ak] = Browse
Comment[ak] = Surf the world!
Name[am] = Browse
Comment[am] = Surf the world!
Name[ar] = تصفّح
Comment[ar] = Surf the world!
Name[ayc] = Internet taypita yatiña
Comment[ayc] = Surf the world!
Name[be] = Browse
Comment[be] = Surf the world!
Name[be@latin] = Browse
Comment[be@latin] = Surf the world!
Name[bg] = Разглеждане
Comment[bg] = Surf the world!
Name[bi] = Browse
Comment[bi] = Surf the world!
Name[bn] = ব্রাউজ করো
Comment[bn] = Surf the world!
Name[bn_IN] = ব্রাউজ করো
Comment[bn_IN] = Surf the world!
Name[br] = Merdeiñ
Comment[br] = Surf the world!
Name[bs] = Browse
Comment[bs] = Surf the world!
Name[ca] = Navegació
Comment[ca] = Surf the world!
Name[cpp] = Browse
Comment[cpp] = Surf the world!
Name[cs] = Procházet
Comment[cs] = Surf the world!
Name[cy] = Browse
Comment[cy] = Surf the world!
Name[da] = Browse
Comment[da] = Surf the world!
Name[de] = Browser
Comment[de] = Surf the world!
Name[dz] = ཕབ་ལེན།
Comment[dz] = Surf the world!
Name[el] = Περιήγηση
Comment[el] = Surf the world!
Name[en] = Browse
Comment[en] = Surf the world!
Name[en_GB] = Browse
Comment[en_GB] = Surf the world!
Name[en_US] = Browse
Comment[en_US] = Surf the world!
Name[es] = Navegar
Comment[es] = Surf the world!
Name[fa] = مرور
Comment[fa] = Surf the world!
Name[fa_AF] = جستجو
Comment[fa_AF] = Surf the world!
Name[ff] = Browse
Comment[ff] = Surf the world!
Name[fi] = Browse
Comment[fi] = Surf the world!
Name[fil] = Browse
Comment[fil] = Surf the world!
Name[fr] = Naviguer
Comment[fr] = Surf the world!
Name[gl] = Browse
Comment[gl] = Surf the world!
Name[gn] = Browse
Comment[gn] = Surf the world!
Name[gom] = Browse
Comment[gom] = Surf the world!
Name[gom@latin] = Browse
Comment[gom@latin] = Surf the world!
Name[gu] = Browse
Comment[gu] = Surf the world!
Name[ha] = Browse
Comment[ha] = Surf the world!
Name[he] = Browse
Comment[he] = Surf the world!
Name[hi] = विचरण
Comment[hi] = Surf the world!
Name[hr] = Browse
Comment[hr] = Surf the world!
Name[ht] = Navige
Comment[ht] = Surf the world!
Name[hu] = Böngészés
Comment[hu] = Surf the world!
Name[hus] = Aliy
Comment[hus] = Surf the world!
Name[hy] = Զննել
Comment[hy] = Surf the world!
Name[id] = Ramban
Comment[id] = Surf the world!
Name[ig] = Browse
Comment[ig] = Surf the world!
Name[is] = Flakka
Comment[is] = Surf the world!
Name[it] = Naviga
Comment[it] = Surf the world!
Name[ja] = ブラウズ
Comment[ja] = Surf the world!
Name[km] = រក​មើល
Comment[km] = Surf the world!
Name[kn] = Browse
Comment[kn] = Surf the world!
Name[ko] = Browse
Comment[ko] = Surf the world!
Name[kos] = Browse
Comment[kos] = Surf the world!
Name[ku] = Browse
Comment[ku] = Surf the world!
Name[ky] = Browse
Comment[ky] = Surf the world!
Name[lg] = Browse
Comment[lg] = Surf the world!
Name[lt] = Browse
Comment[lt] = Surf the world!
Name[lv] = Browse
Comment[lv] = Surf the world!
Name[mg] = Tetezo
Comment[mg] = Surf the world!
Name[mi] = Tirotiro
Comment[mi] = Surf the world!
Name[mk] = Разгледај
Comment[mk] = Surf the world!
Name[ml] = Browse
Comment[ml] = Surf the world!
Name[mn] = Интэрнэт
Comment[mn] = Surf the world!
Name[mr] = वेब भटकंती
Comment[mr] = Surf the world!
Name[ms] = Browse
Comment[ms] = Surf the world!
Name[mvo] = Browse
Comment[mvo] = Surf the world!
Name[na] = Browse
Comment[na] = Surf the world!
Name[nah] = Ximopaxalolti
Comment[nah] = Surf the world!
Name[nb] = Browse
Comment[nb] = Surf the world!
Name[ne] = ब्राउज
Comment[ne] = Surf the world!
Name[niu] = Browse
Comment[niu] = Surf the world!
Name[nl] = Surfen
Comment[nl] = Surf the world!
Name[nn] = Browse
Comment[nn] = Surf the world!
Name[or] = Browse
Comment[or] = Surf the world!
Name[pa] = Browse
Comment[pa] = Surf the world!
Name[pap] = Nabegá
Comment[pap] = Surf the world!
Name[pbs] = Manjui' manad-eú
Comment[pbs] = Surf the world!
Name[pl] = Internet
Comment[pl] = Surf the world!
Name[ps] = لټول
Comment[ps] = Surf the world!
Name[pt] = Navegar
Comment[pt] = Surf the world!
Name[pt_BR] = Navegar
Comment[pt_BR] = Surf the world!
Name[quy] = Browse
Comment[quy] = Surf the world!
Name[quz] = Wayp'uq
Comment[quz] = Surf the world!
Name[ro] = Navighează
Comment[ro] = Surf the world!
Name[ru] = Смотреть
Comment[ru] = Surf the world!
Name[rw] = Shakisha
Comment[rw] = Surf the world!
Name[sd] = Browse
Comment[sd] = Surf the world!
Name[si] = සැරිසරන්න
Comment[si] = Surf the world!
Name[sk] = Prezerať
Comment[sk] = Surf the world!
Name[sl] = Prebrskaj
Comment[sl] = Surf the world!
Name[sm] = Browse
Comment[sm] = Surf the world!
Name[son] = Browse
Comment[son] = Surf the world!
Name[sq] = Shfletoni
Comment[sq] = Surf the world!
Name[sr] = Прегледај
Comment[sr] = Surf the world!
Name[st] = Browse
Comment[st] = Surf the world!
Name[sv] = Surfa
Comment[sv] = Surf the world!
Name[sw] = Kuvinjari
Comment[sw] = Surf the world!
Name[ta] = உவாவு
Comment[ta] = Surf the world!
Name[te] = వెబ్ చూడు
Comment[te] = Surf the world!
Name[th] = เรียกดู
Comment[th] = Surf the world!
Name[to] = Browse
Comment[to] = Surf the world!
Name[tr] = göz atmak
Comment[tr] = Surf the world!
Name[tvl] = Browse
Comment[tvl] = Surf the world!
Name[tyv] = Browse
Comment[tyv] = Surf the world!
Name[tzm] = ⵉⵏⵉⴳ
Comment[tzm] = Surf the world!
Name[tzo] = Browse
Comment[tzo] = Surf the world!
Name[ug] = Browse
Comment[ug] = Surf the world!
Name[uk] = Browse
Comment[uk] = Surf the world!
Name[ur] = براؤز
Comment[ur] = Surf the world!
Name[vi] = Duyệt
Comment[vi] = Surf the world!
Name[wa] = Browse
Comment[wa] = Surf the world!
Name[wo] = Browse
Comment[wo] = Surf the world!
Name[yo] = Ìbojúwò
Comment[yo] = Surf the world!
Name[zh_CN] = 浏览
Comment[zh_CN] = Surf the world!
Name[zh_HK] = Browse
Comment[zh_HK] = Surf the world!
Name[zh_TW] = 瀏覽
Comment[zh_TW] = Surf the world!
Terminal = false
Type = Application
Categories = Education;
Icon = /usr/share/sugar/activities/Browse.activity/activity/activity-web.svg
Exec = sugar-activity webactivity.WebActivity -s
Path = /usr/share/sugar/activities/Browse.activity
NoDisplay=true 

